<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!--Font imported from google-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Exo+2&display=swap" rel="stylesheet"> 
    
    <link rel="stylesheet" href="./styles/sandwich.css">
    <link rel="stylesheet" href="./styles/contact.css">
    <link rel="stylesheet" href="/public/styles/project.css">
    <title>TH Portfolio</title>
</head>
<body>
    <div id="navbar">
        <img src="../images/logo.JPG" id="logo">
        <a id="active" href="/">About me</a>
        <a href="/contact">Contact me</a>
        <a href="/projects">Projects</a>
    </div>
    <div id="main-content">