body {
    margin: inherit;

    background-image: url(../images/DaView.JPG);  
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;

    margin: 0;
    padding: 0;
    background-color: rgba(255, 255, 255, 0.2);

    border-top-width: 0.27rem;
    border-style: solid;
}

footer p{
    padding-left: 10%;
    text-align: center;
    font-weight: bold;
}

#navbar {
    margin: 0;
    padding: 0;
    width: 20rem;
    height: 100%;
    position: absolute;
    float: left;

    background-color: rgba(255, 255, 255, 0.2);
    
    border-right-width: 0.27rem;
    border-style: solid;
}

#navbar a {
    margin-top: 30%;
    font-size: 2rem;
    padding: 1.5rem;
    font-family: 'Exo 2', sans-serif;
    color: rgb(20, 20, 20);
    
    text-shadow: 2px 5px 2px #9c7676;
    display: block;
}

#navbar a:hover {
    color:blue;
}

#logo {
    float: left;
    width: 5.5rem;
    height: 5.5rem;
    border: 0.27rem;
    border-style: solid;
}

#main-content {
    background-color: rgba(255, 255, 255, 0.5);
    position: fixed;
    margin-left: 20.45rem;
}

.project {
    display: inline-block;
    padding: 5rem;
}

.project img {
    height: 20rem;
    width: 30rem;
    border-radius: 50%;
}

textarea {
    width: auto;
}